<form [formGroup] = "fg" (ngSubmit) = "Guardar(fg.controls['Nombre'].value , fg.controls['URL'].value)">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingrese su Nombre" [formControl] = "fg.controls['Nombre']">
        <div *ngIf = "fg.controls['Nombre'].hasError('required')">Nombre Requerido!</div>
        <div *ngIf = "fg.controls['Nombre'].hasError('invalidNombre')">Nombre Invalido!</div>
        <div *ngIf = "fg.controls['Nombre'].hasError('minLongNombre')">El Nombre debe tener al menos {{minLongitud}} de largo</div>
    </div>
    <div class="form-group">
        <label for="Imagen	Url">Imagen Url</label>
        <input type="text" class="form-control" id="imagenUrl" placeholder="Ingrese una URL" [formControl] = "fg.controls['URL']">
        
    </div>
    <button type="submit" class="btn" *ngIf = "fg.valid">Guardar</button>
</form>
